<style type="text/css">
body{
  background-color: #1F2035;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.boatbox{
  border: 1px solid #2F304E;
  margin:10px;
  width:15%;
  background:#2F304E;
  height:1000px;
  text-align:center;
  border-radius: 2px;
}
h2{
  position: relative;
  top:4px;
}

h1{
  color:white;;
  font-size: 17px;
}
p{
  background-color:#5562f6;
  width: 100%;
  font-size: 11px;
  padding-top:4px;
  padding-bottom:4px;
  font-weight: 600;

}
.boatstatus{
  border-radius: 10px;
  color:#ffffff;
  font-size:10px;
  font-weight:300;
  background-Color:#56558a;
  margin: 10px;
}

input{
  width:100%;
}
#GPS{
  font-size:10px;
  padding:7px;
  background-color:#6930C3;
}
#stop{
  background-color:#EF233C;
}

button {
    transition-duration: 0.2s;
    color:#fff;
    border-radius: 10px;
    border:none;
    width: 100%;
    background-color:#56cb8a;
}
button:hover {
    background-color: #41caf4;
}
	  /* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
</style>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<div style="width:98%;height:80px;" class="boatbox"><h2>WHEREISTHEBOAT.COM</h2></div>
<div style="display:flex">
  <div class="boatbox">
	<h1>STATUS</h1>
	<p>last queried at <span id="last_ts"></span></p>
	<div id="last_boat_ping_time_div" class="boatstatus">BOAT LAST PING <span id="last_boat_ping_time"></span></div>
	<p>vitals</p>
	<div class="boatstatus">BATTERY <span id="batteryV">{{batteryV}}</span></div>
	<div class="boatstatus">BLUETOOTH <span id="bluetoothstatus">{{bluetoothstatus}}</span></div>
	<p>external</p>
	<div class="boatstatus">Temperature <span id="temperaturex">{{temperaturex}}</span></div>
	<div class="boatstatus">Latitude <span id="GPSlatitude">{{GPSlatitude}}</span></div>
	<div class="boatstatus">Latitude <span id="GPSlongitude">{{GPSlongitude}}</span></div>
	<p>dynamics</p>
	<div class="boatstatus">Boat Speed <span id="GPSspeed">{{GPSspeed}}</span></div>
	<div class="boatstatus">Acceleration X <span id="accelerometerx">{{accelerometerx}}</span></div>
	<div class="boatstatus">Acceleration Y <span id="accelerometery">{{accelerometery}}</span></div>
	<div class="boatstatus">Acceleration Z <span id="accelerometerz">{{accelerometerz}}</span></div>
	<div class="boatstatus">Velocity X <span id="gyroscopex">{{gyroscopex}}</span></div>
	<div class="boatstatus">Velocity Y <span id="gyroscopey">{{gyroscopey}}</span></div>
	<div class="boatstatus">Velocity Z <span id="gyroscopez">{{gyroscopez}}</span></div>
	<div class="boatstatus">Angle X <span id="anglex">{{anglex}}</span></div>
	<div class="boatstatus">Angle Y <span id="angley">{{angley}}</span></div>
  </div>
  <div style="width:70%;height:100%;" class="boatbox">
	<h1>CAMERA FEED</h1>
	<div class="boatstatus"><button class=" boatcommand">REQUEST IMAGE</button></div>
 <!--
 <img style="width:100%" src="{{url_for('static', filename=last_pic_path)}}"/>-->
	<div id="map"></div>
  </div>
  <div class="boatbox">
	<p>last command event at <span id="command_ts"></span></p>
	<div class="boatstatus" id="command_display"></div>
  <div class="boatbox-section" style="height:250px">
	<h1>SELF DRIVING</h1>
	<div class="boatstatus"><input  type="text" id="input-longitude" placeholder="longitude"></div>
	<div class="boatstatus"><input  type="text" id="input-latitude" placeholder="latitude"></div>
	<div class="boatstatus"><button id="GPS">DRIVE TO COORDINATES</button></div>
	<div class="boatstatus"><button >STOP</button></div>
  </div>
  <div class="boatbox-section">
	<h1>MANUAL CONTROL</h1>
	<div class="boatstatus"><button class="boatcommand">FORWARD</button></div>
	<div class="boatstatus"><button class="boatcommand">LEFT</button></div>
	<div class="boatstatus"><button class="boatcommand">RIGHT</button></div>
	<div class="boatstatus"><button class="boatcommand">BACK</button></div>
	<div class="boatstatus"><button class="boatcommand">TEST-MOTORS</button></div>
  </div>
  </div>
</div>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN98lLUDA1TmDhXCQuW51WR9z35aK2e8k&callback=initMap&libraries=&v=weekly"
      async
    ></script>
<script>

window.markers = [];

var addMarker = function(lat, lng, label){
  var marker = new google.maps.Marker({
	  position: {lat: lat, lng: lng},
    map: window.map,
	icon: "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/60/facebook/158/motor-boat_1f6e5.png",
	label: label
  });
	window.markers.push(marker);
};

var removeMarkers = function(){
	window.markers.forEach(m => m.setMap(null));
};

var setMarkers = function(data){
	class MarkerSet extends Set{
	  add(elem){
		return super.add(typeof elem === 'object' ? JSON.stringify(elem) : elem);
	  }
	  has(elem){
		return super.has(typeof elem === 'object' ? JSON.stringify(elem) : elem);
	  }
	}

	removeMarkers();
	var markersSet = new MarkerSet();
	markersSet.add([data['GPSlatitude'], data['GPSlongitude']]);
	for (var i = 1; i <= 10; i++){
		var key = 'GPSlatitude_m'+i;
		var keyl = 'GPSlongitude_m'+i;
		if (key in data) {
			markersSet.add([data[key], data[keyl]]);
		}
	}
	var cnt = 0;
	markersSet.forEach((m, i) => {
		addMarker(JSON.parse(m)[0],
			JSON.parse(m)[1],
			'T'+cnt);
		cnt += 1;
	});

};



function initMap() {
	const boat_location = { lat: {{GPSlatitude}}, lng: {{GPSlongitude}}};
  window.map = new google.maps.Map(document.getElementById("map"), {
    zoom: 14,
    center: boat_location,
  });
	addMarker({{GPSlatitude}}, {{GPSlongitude}}, "T0");
}


  (function(){
	var commands = document.getElementsByClassName('boatcommand');
	for (var i=0;i < commands.length; i++){
	  commands[i].onclick = function(e){
		var command = e.target.innerHTML;
		$.ajax({
		  url: '/set_command',
		  data: {'command': command},
		  success: function(data){
			$("#command_display").text(command);
			$("#command_display").css({"backgroundColor": "yellow"});
			$("#command_ts").text(data['time']);
		  }});
	  }
	};

	var gps_command = document.getElementById("GPS");
	gps_command.onclick = function(e){
		var lon = $("#input-longitude").val()
		var lat = $("#input-latitude").val()
		var command = "GPS,"+lat+","+lon;
		$.ajax({
		  url: '/set_command',
		  data: {'command': command},
		  success: function(data){
			$("#command_display").text(command);
			$("#command_display").css({"backgroundColor": "yellow"});
			$("#command_ts").text(data['time']);
	    }});
	}
  })();

  var last_ts = {{unix_ts}};
  var last_boat_ping_time = {{time}};

	var update_latest_ping = function(last_ts, last_boat_ping_time){
	  var time_from_last_data = last_ts - last_boat_ping_time;

	  var unix_to_ds = function(unix){
		var date = new Date(unix * 1000);
		var hours = date.getHours();
		var minutes = "0" + date.getMinutes();
		var seconds = "0" + date.getSeconds();

		var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
		return formattedTime;
	  };


	  $("#last_ts").text(unix_to_ds(last_ts));
	  $("#last_boat_ping_time").text(unix_to_ds(last_boat_ping_time));

	  var BOAT_INACTIVE_CLOCK = 31*60;
	  var BOAT_ACTIVE_CLOCK = 10;
	  if(time_from_last_data >= BOAT_INACTIVE_CLOCK){
		$("#last_boat_ping_time_div").css({"backgroundColor": "red"});
	  }
	  if(BOAT_ACTIVE_CLOCK < time_from_last_data && time_from_last_data < BOAT_INACTIVE_CLOCK){
		$("#last_boat_ping_time_div").css({"backgroundColor": "yellow"});
	  }
	  if(time_from_last_data < BOAT_ACTIVE_CLOCK ){
		$("#last_boat_ping_time_div").css({"backgroundColor": "green"});
  }

	};

  update_latest_ping(last_ts, last_boat_ping_time);

  var update_data = function(data){

    Object.keys(data).forEach(function(key) {
		var value = data[key];
		if(value != null && value != ""){
			$("#"+key).text(value);
		}
 	});

  }

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  const interval = setInterval(function() {
	console.log(last_ts);
	$.getJSON($SCRIPT_ROOT + '/influx_db_latest_data', {'last_ts': last_ts}, function(data){
		if(data['updated'] === true){
			update_latest_ping(data['unix_ts'], data['time']);
			update_data(data);
			setMarkers(data);
		} else {
		  console.log("no new data in the last "+((Date.now() / 1000) - last_boat_ping_time) +" seconds.");
		}
	});
   }, 5000);
</script>

